.wrapper {
  max-width: 100rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media screen and (max-width: 480px) {
  .wrapper {
    grid-template-columns: 358px 1fr;
  }
}

@media screen and (max-width: 720px) {
  .wrapper {
    grid-template-columns: 449px 1fr;
  }
}
