.wrapper {
  max-width: 100rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media screen and (max-width: 380px) {
  .wrapper {
    grid-template-columns: 362px 1fr;
  }
}

@media screen and (max-width: 390px) {
  .wrapper {
    grid-template-columns: 362px 1fr;
  }
}

@media screen and (min-width: 440px) {
  .wrapper {
    grid-template-columns: 410px 1fr;
  }
}

@media screen and (min-width: 550px) and (max-width: 720px) {
  .wrapper {
    grid-template-columns: 520px 1fr;
  }
}




